@charset "utf-8";
/* CSS Document */

#chatBox {
	width: 48%;
	height: 400px;
	margin: 0 auto;
}

#myChatForm{
	text-align: center;
}

input[type = "text"] {
	width: 48%;	
	padding: 2px;
	margin: 3px;
}

textarea {
	width: 48%;
	padding: 2px;
	margin: 3px;

}

#sendmessageBtn {
	width: 48%;
}